<div class="col-md-7">
  <h1><%= @blog.title %></h1>

  <h5><i><%= @blog.created_at %></i></h5>
  <hr>
  <h4><%= @blog.entry %></h4>
</div>

<div class="col-md-5">
  <br>
  <h2>Comments</h2>
    <ul class="comments_list">
      <% @comments.each do |x| %>
        <%= render 'comments/comment', comment: x %>
      <% end %>
    </ul>
  <%= link_to "Add a comment", new_blog_comment_path(@blog), class: "add_comment", remote: true %>
</div>
