<div class = "col-md-4">
  <h1><u><%= @skill.name %></u></h1>

  <h4><%= @skill.description %></h4>

  <p><%= link_to "Admin Only - Edit Skill", edit_skill_path(@skill) %></p>
  <p><%= link_to "Admin Only - Delete Skill", skill_path(@skill),
                                              :data => {:confirm => "Are you sure you want to remove this skill?",
                                                        :method => "delete"} %></p>
</div>

<div class = "col-md-8">
  <h2>Projects created using <%= @skill.name %>:</h2>

    <!-- Notice appears after successfully adding new project. -->
    <% if flash[:notice] %>
      <div class="well">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if @skill.projects.any? %>
      <% @skill.projects.each do |project| %>
      <ul>
        <li><%= link_to project.name, skill_project_path(@skill, project) %></li>
      </ul>
      <% end %>
    <% else %>
      <p>No projects have been added for this skill yet. Check back soon!</p>
    <% end %>

  <p><%= link_to "Admin Only - Add A Project", new_skill_project_path(@skill) %></p>
</div>
