<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fauxnavbar">
    <a href="<%= blogs_path %>">Home</a>  |
    <a href="<%= skills_path %>">Coding Skills</a>
  </div>

  <div id="bodytoppadding">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
